<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SMSAppSOAPProxySoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SMSAppSOAPProxySoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="SMSAppSOAPProxySoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://api.blueface.com:443/smssoapproxy.asmx"
                binding="basicHttpBinding" bindingConfiguration="SMSAppSOAPProxySoap"
                contract="Blueface.SMSAppSOAPProxySoap" name="SMSAppSOAPProxySoap" />
            <endpoint address="https://api.blueface.com:443/smssoapproxy.asmx"
                binding="customBinding" bindingConfiguration="SMSAppSOAPProxySoap12"
                contract="Blueface.SMSAppSOAPProxySoap" name="SMSAppSOAPProxySoap12" />
        </client>
    </system.serviceModel>
</configuration>
